
.navbar{
    background-color: #76dbd1 !important; 
}

.navbar-brand{
 font-family: 'Dancing Script', cursive;
 font-size: 30px;
 margin-left: 60px;
 
}
.nav-link{
color: #555151;
font-family: 'Lato', sans-serif;
font-size: 17px;
}

/*Diseño de sección perfil*/
.fondoPerfil{
    background-color: #ecf4f3;
    width: auto;
    height: 100vh;
    border-top: 10px solid #57a99a;  
}
.tituloPortada{
    margin-top: 10%;
    color: #555151;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.parrafoPresentacion{
    margin-top: 20px;
    text-align: center;
}

/*Diseño de trabajos */
.fondoTrabajos{
    height: 100vh;
    background-color: #fffdf6; 
}
.tituloTrabajos{
    margin-top: 5%;
    text-align: center;
    color: #555151;
    font-family: 'Lato', sans-serif;
}
.portafolio-contenedor{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.portafolio-item{
    width: 30%;
    position: relative;
    overflow: hidden;
}
.portafolio-img{
    transition: all 0.5s;
}
.portafolio-text{
    width: 75%;
    position: absolute;
    bottom: 0%;
    padding: 5%;
    background: rgb(0,0,0,0.7);
   /* background: rgb(118, 218, 208);
    opacity: 7%;*/
    color:rgb(118, 218, 208);
    transform: translateY(100%);
    transition: all 0.5s ease-out; 
}
.portafolio-text p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
}
.portafolio-item:hover .portafolio-text{
    transform: translateY(0%);
}
.portafolio-item:hover .portafolio-img{
    transform: scale(1.15);
}

/*Diseño de experiencia */
.fondoExperiencia{
    background-color: #ecf4f3;
    height: 100vh;
}
.tituloExperiencia{
  margin-top: 0%;
  text-align: center;
  padding-top: 70px;
  color: #555151;
  font-family: 'Lato', sans-serif;
}
.card{
    width: 300px;
    height: 100px;
    margin-top: 40px;
}
.parrafoText{
 
    font-size: 10px;
    color: #555151;
    font-family: 'Lato', sans-serif;
}
.photoshop{
    height: 8%;
}

/*Diseño de contacto */
.fondoContacto{
    background-color: #fffdf6;
}
.contenidocontacto{
    height: 200px;
    background-color: #fffdf6;
}
.tituloContacto{
    margin-top: 5%;
    text-align: center;
    color: #555151;
    font-family: 'Lato', sans-serif;
}
.logoLinkedin{
    height: 15%;
    margin-left: 47%;
}
.github{
    text-align: center;
}
.correo{
    text-align: center;
    color: #555151;
    font-family: 'Lato', sans-serif;
    margin-top: 1%;
}